<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <title><%= @post.title %></title>
</head>
<body>
  
  <nav class="navbar">
    <div class="navbar-container">
      <button class="button">
        <a href="/admin/admin_dashboard">
          <p>Dashboard</p>
        </a>
      </button>
      
      <button class="button">
        <a href="/admin/admin_dashboard/update_article/<%= @post.id %>">Editar Artigo</a>
      </button>
      
      <button class="button">
        <a href="/admin/admin_dashboard/create_article">
          <p>Criar Artigo</p>
        </a>
      </button>
    </div>
  </nav>

  <section class="container post" >
    <h1>
      <%= @post.title %>
    </h1>
 
    <h4>
      <%= @post.created_at %>
    </h4>
      
    <p>
      <%= @post.content %>
    </p>
  


  </section>
</body>
</html>
