<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <title><%= @post.title %></title>
</head>
<body>
  
  <nav class="navbar">
    <div class="navbar-container">
      <button><a href="/admin/admin_dashboard">Dashboard</a></button>
      <button class="btn"><a href="/admin/admin_dashboard/create_article">Criar Novo Artigo</a></button>
    </div>
  </nav>

  <section class="container post" >
    <h1>
      <%= @post.title %>
    </h1>
 
    <h4>
      <%= @post.created_at %>
    </h4>
      
    <p>
      <%= @post.content %>
    </p>
  
    <form action="/admin/admin_dashboard/destroy_article/<%= @post.id %>" method="post" >
      <input type="submit" value="Excluir">
      <button><a href="/admin/admin_dashboard/update_article/<%= @post.id %>">Editar</a></button>
    </form>
  </section>
</body>
</html>
